<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kby.mapper.StudentMapper">

    <select id="chaStudent" resultType="com.kby.entity.Student">
        select sid,sname,spwd,birthday,money,address,salary,gender from student
    </select>

<!--    <select id="queryList" resultType="com.kby.entity.Student">-->
<!--        select s.studentNo, s.studentName, s.sex, s.gradeId, g.gradeName, s.phone, s.address-->
<!--        from student s INNER JOIN grade g ON s.gradeId=g.gradeID-->
<!--        <where>-->
<!--            <if test="studentNo != null">-->
<!--                s.studentNo = #{studentNo}-->
<!--            </if>-->
<!--            <if test="studentName != null and studentName != ''">-->
<!--                and s.studentName like concat('%', #{studentName}, '%')-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{index}, #{pageSize}-->
<!--    </select>-->

<!--    <select id="getTotalCount" resultType="java.lang.Integer">-->
<!--        select count(1)-->
<!--        from student s INNER JOIN grade g ON s.gradeId=g.gradeID-->
<!--        <where>-->
<!--            <if test="studentNo != null">-->
<!--                s.studentNo = #{studentNo}-->
<!--            </if>-->
<!--            <if test="studentName != null and studentName != ''">-->
<!--                and s.studentName like concat('%', #{studentName}, '%')-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <insert id="add">-->
<!--        insert into student(studentNo, loginPwd, studentName, sex, gradeId, phone, address)-->
<!--        values-->
<!--        (#{stu.studentNo}, #{stu.loginPwd}, #{stu.studentName}, #{stu.sex}, #{stu.gradeId}, #{stu.phone}, #{stu.address})-->
<!--    </insert>-->

<!--    <select id="queryByNo" resultType="com.kby.entity.Student">-->
<!--        select s.studentNo, s.studentName, s.loginPwd, s.sex, s.gradeId, s.phone, s.address from student s where s.studentNo=#{studentNo}-->
<!--    </select>-->

<!--    <update id="update">-->
<!--        update student set studentName=#{stu.studentName}, loginPwd=#{stu.loginPwd}, sex=#{stu.sex}, gradeId=#{stu.gradeId}, phone=#{stu.phone}, address=#{stu.address} where studentNo=#{stu.studentNo}-->
<!--    </update>-->

<!--    <delete id="delete">-->
<!--        delete from student where studentNo = #{studentNo}-->
<!--    </delete>-->
</mapper>